{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/attributify.global.js"></script>
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=abel:400|audiowide:400" rel="stylesheet" />
  <style>
    body {
      font-family: Abel;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My own title</title>
</head>
<body>
  {{template "header" .}}
  <div class="text-blue-500" bg="green-5">
    Denna texten är röd och jag heter {{.Name}}
  </div>
  <ul>
    {{range .Games}}
      {{template "game" .}}
    {{end}}
  </ul>
</body>
</html>
{{end}}