<form
   class="w-full h-full p-4 flex gap-2"
   {{if .Edit}}
      hx-put="/admin/games/{{.Game.ID}}"
   {{else}}
      hx-post="/admin/games/"
   {{end}}
   hx-swap="outerHTML"
   hx-target=".ALL_GAMES"
   onclick="event.stopPropagation()"
>
   <div class="flex flex-col gap-2">
      {{if .Edit}}
         <h2>Edit game</h2>
         <input type="hidden" name="id" value="{{.Game.ID}}" />
      {{else}}
         <h2>Add game</h2>
      {{end}}
      <input
         type="text"
         placeholder="Title"
         name="title"
         {{if .Edit}}
            value={{.Game.Title}}
         {{end}}
      />
      <!-- prettier-ignore -->
      <textarea rows="3" placeholder="Description" name="description">{{if .Edit}}{{.Game.Description}}{{end}}</textarea>
      <input
         type="text"
         placeholder="Release year"
         name="release_year"
         {{if .Edit}}
            value={{.Game.ReleaseYear}}
         {{end}}
      />
      <label>
         Image URL, please use <a href="http://igdb.com">igdb.com</a><br />
         <input
            class="w-full"
            type="text"
            placeholder="Image URL"
            name="image_url"
            oninput="document.querySelector('.DIALOG_GAME img').src = this.value"
            {{if .Edit}}
               value={{.Game.ImageURL}}
            {{end}}
         />
      </label>
      <div>
         <h2>Rating</h2>
         <input
            name="rating"
            type="hidden"
            {{if .Edit}}
               value="{{.Game.Rating}}"
            {{end}}
         />
         <rating-lines
            maxrating="5"
            dark
            onchange="(e => this.previousElementSibling.value = e.detail)(event)"
            {{if .Edit}}
               rating={{.Game.Rating}}
            {{end}}
         ></rating-lines>
      </div>
      <button class="w-full" type="submit" onclick="document.querySelector('.DIALOG_GAME').close()">
         {{if .Edit}}
            Save changes
         {{else}}
            Add
         {{end}}
      </button>
   </div>
   <div b="1 solid zinc-800" class="grow grid place-items-center relative">
      <span class="IMAGE_FRAME_TEXT">No image set</span>
      <img
         class="absolute h-full aspect-[0.75/1] object-cover opacity-100 transition-opacity duration-300"
         alt="Game art"
         {{if .Edit}}
            src={{.Game.ImageURL}}
         {{else}}
            src=""
         {{end}}
      />
   </div>
</form>

<style>
   img[src=""] {
      opacity: 0;
   }
</style>
