<ol id="SECTIONS_LIST" class="flex flex-col gap-6">
	{{range .Sections}}
		<li class="SECTION flex flex-col p-2 b-solid b-2 b-zinc-900" data-section-id="{{.ID}}">
			<div class="flex justify-between items-center cursor-grab active:cursor-grabbing">
				<h2>{{.Title}}</h2>
				{{template "routes/admin/games/menusection" .}}
			</div>

			{{$sectionID := .ID}}
			<ol class="GAMES_IN_SECTION" data-section-id="{{.ID}}">
				{{range .Games}}
					<li
						class="GAME_IN_SECTION flex justify-between items-center px-2 cursor-grab active:cursor-grabbing"
						data-game-id="{{.ID}}"
					>
						{{.Title}}
						{{template "routes/admin/games/menugameinsection" (printf "%s-%s" $sectionID .ID)}}
					</li>
				{{end}}
			</ol>
		</li>
	{{end}}
</ol>
