<section b="solid red" class="py-8 flex flex-col gap-4">
   <dialog
      class="DIALOG_SECTION w-[30rem] bg-zinc-50"
      onclick="document.querySelector('.DIALOG_SECTION').close()"
   ></dialog>

   {{template "routes/admin/games/sectionslist" .}}

   <button
      class="text-[1.5rem]"
      hx-get="/admin/games/sections/dialog/add"
      hx-target=".DIALOG_SECTION"
      hx-on::after-request="document.querySelector('.DIALOG_SECTION').showModal()"
   >
      Add section
   </button>
</section>

<style>
   /* When hovering over a section, but not when hovering over the menu */
   .SECTION:hover:not(:has(.SECTION_MENU:hover)) {
      /* @apply bg-zinc-800; */
      background-color: rgb(39 39 42);
      /* @apply text-zinc-50; */
      color: rgb(250 250 250);

      .ELLIPSIS {
         background-color: rgb(250 250 250);
         opacity: 100%;
      }
   }
</style>

<script type="module">
   import Sortable from "https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/+esm"

   htmx.onLoad(function (content) {
      const sections = document.querySelector(".SECTIONS")
      new Sortable(sections, {
         animation: 200,
         onEnd: function (event) {
            console.log("logging from sections", event)
            this.option("disabled", true)
         },
      })

      const games = document.querySelectorAll(".GAMES")
      games.forEach((game) => {
         new Sortable(game, {
            animation: 200,
            group: "games",
            onEnd: function (event) {
               console.log("logging from games", event)
            },
         })
      })
   })
</script>
