<form
   class="w-full h-full p-4 flex flex-col gap-2"
   {{if .Edit}}
      hx-put="/admin/games/sections/{{.Section.ID}}"
   {{else}}
      hx-post="/admin/games/sections"
   {{end}}
   hx-swap="outerHTML"
   hx-target=".SECTIONS"
   onclick="event.stopPropagation()"
>
   {{if .Edit}}
      <h2>Edit section</h2>
      <input type="hidden" name="id" value="{{.Section.ID}}" />
   {{else}}
      <h2>Add section</h2>
   {{end}}
   <input
      class="w-full text-[1.5rem] font-bold"
      type="text"
      name="title"
      placeholder="Title"
      {{if .Edit}}
         value={{.Section.Title}}
      {{end}}
   />
   <!-- prettier-ignore -->
   <textarea class="w-full" name="description" rows="4" placeholder="Description" value="">{{if .Edit}}{{.Section.Description}}{{end}}</textarea>
   <button class="w-full" type="submit" onclick="document.querySelector('.DIALOG_SECTION').close()">
      {{if .Edit}}
         Save changes
      {{else}}
         Add
      {{end}}
   </button>
</form>
