<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="reset.css" />
      <link rel="stylesheet" href="utility.css" />
      <link rel="stylesheet" href="global.css" />

      <script src="https://unpkg.com/htmx.org@1.9.10"></script>

      <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/attributify.global.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/preset-icons.global.js"></script>
      <script>
         window.__unocss = {
            presets: [
               () =>
                  window.__unocss_runtime.presets.presetIcons({
                     cdn: "https://esm.sh/",
                  }),
            ],
         }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/core.global.js"></script>

      <script type="module" src="components/components.js"></script>

      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>GOPPLISTA</title>
   </head>
   <body>
      {{embed}}
   </body>
</html>
